@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* primary */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    /* neutral */
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 15%, 14%);
    --very-dark-black-blue: hsl(234, 17%, 12%);
}

body {
    background-color: var(--very-dark-blue);
    background-image: url('images/bg-stars.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Red Hat Display", sans-serif;
    overflow-x: hidden;
}

.main-section{
    text-align: center;
    margin: 5% auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-text {
    color: var(--white);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    letter-spacing: 5px;
}

.time-section {
    gap: 2rem;
}

.time-section h1 {
    font-size: 4rem;
    color: var(--soft-red);
}

.time-section h4 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--grayish-blue);
    /* margin-bottom: 100%; */

}



.bg-blue-container h1{
    /* background-color: var(--dark-desaturated-blue); */
    background: linear-gradient(0deg, rgba(52,54,80,1) 50%, rgba(48,50,69,1) 50%);
    padding: 1rem 0.8rem;
    margin: 2rem 0;
    border-radius: 5px;
}

/* .corner {
    border: 6px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
} */

.footer-img img{
width: 100%;
height: 100%;
}
.footer-img {
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
}



.flex-al-jc {
    display: flex;
    align-items: center;
    justify-content: center;
}



.attribution { 
    font-size: 14px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 700px) {


    .time-section {
        gap: 1rem;
        margin: 0 auto;
        width: 90%;
    }
    .header-text{
        font: 1rem;
    }
    
    .time-section h1 {
        font-size: 3rem;
    }

    .time-section h4 {
        font-size: 0.7rem;

    }
    .bg-blue-container h1{
        padding: 1rem 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .bg-blue-container h1{
        padding: 0.8rem ;
    } 

    .main-section {
        display: flex;
    }

    .time-section {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 0 auto;
        width: 80%;
    }

    .time-section h1 {
        font-size: 2.5rem;
        
    }
    .time-section h4 {
        font-size: 0.6rem;
    }
}